# Garence Wong Kar Kang
name: CI - Staging (test + docker)

on:
  push:
    branches: ["staging"]

permissions:
  contents: read

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: DevOpsFilePortal

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run unit tests
        run: pytest -q

      - name: Docker build
        run: docker build -t devops-file-portal:staging-ci .
