name: Notify on Deploy Commit

on:
  push:
    branches:
      - deploy

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "🚀 Commit pushed to deploy branch"
          body: |
            A new commit has been pushed to the deploy branch.
            This will trigger promotion to staging.
          to: s10262480@connect.np.edu.sg
          from: DevOps Team <devops2026team2@gmail.com>
